name: Tests
on:
  pull_request:
    branches: [master]

  push:
    branches: [master]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        go: ["1.23"]
        os: [ubuntu-latest]
    name: "Test"
    steps:
      - uses: actions/checkout@v5
      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Run tests
        run: go test ./... -v -timeout 30s
